@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&family=Staatliches&family=Tektur:wght@400..900&display=swap');

:root {
    --primario:#1f8026;
    --primarioOscuro:#8fa7ef;
    --secundario:#001d9c;
    --secundarioOscuro: #000000;
    --blanco: #FFF;
    --negro:#000;

    --fuentePrincipal: "Tektur", sans-serif;  
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  
}

*, *:before, *:after {
  box-sizing: border-box;
} 

/**GLOBALES**/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--negro);
}

a {
    text-decoration: none;
    color: var(--secundario);
}

a:hover {
    color:var(--blanco);
    transition: 0.5s;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin:0 auto; /**CENTRA EL CONTENIDO**/
}

h1, h2, h3 {
    text-align: center;
    color:var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.formulario {
    border-radius: 1.5rem;
    /* width: 35rem; */
    margin: 0 auto;
}

.Turno__form {
    display: flex;
    justify-content: center;
}

.Turno__form form fieldset {
    border: var(--negro) 0.4rem solid;
    border-radius: 1.5rem;
}

input, select, button {
    border-radius: 0.7rem;
    border: var(--negro) solid 0.2rem;
    padding: .8rem;
    width: 100%;
}

.Turno__campos {
    display: flex;
    margin-bottom: 2rem;
}
